version: "3.9"
services:
  elastic:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.13.4
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - ES_JAVA_OPTS=-Xms1g -Xmx1g
    ports: ["9200:9200"]
    healthcheck:
      test: ["CMD-SHELL", "curl -s http://localhost:9200 >/dev/null || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 20
    volumes:
      - esdata:/usr/share/elasticsearch/data

  kibana:
    image: docker.elastic.co/kibana/kibana:8.13.4
    environment:
      - ELASTICSEARCH_HOSTS=http://elastic:9200
    ports: ["5601:5601"]
    depends_on:
      elastic:
        condition: service_healthy

  web:
    build: ./app
    command: bash -lc "python manage.py runserver 0.0.0.0:8000"
    env_file: .env
    depends_on:
      db:
        condition: service_healthy
      elastic:
        condition: service_healthy
    ports: ["8000:8000"]
    volumes:
      - ./app:/app
    extra_hosts:
      - "host.docker.internal:host-gateway"

volumes:
  esdata:
